.container {
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
}
.span {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin: 20px;
}
table {
  width: 100%; /*Ширина таблицы*/
  margin-bottom: 18px; /*Отступ снизу от таблицы*/
  padding: 0; /*Отступы внутри таблицы*/
  font-size: 13px; /*Размер шрифта*/
  border: 1px solid #dddddd; /*Граница таблицы*/
  border-spacing: 0; /*Отступы между границами ячеек*/
  border-collapse: separate; /*Границы ячеек не склеиваются*/
  -webkit-border-radius: 5px; /*Радиус скругления углов у таблицы Safari, Chrome*/
  -moz-border-radius: 5px; /*Радиус скругления углов у таблицы Mozilla*/
  border-radius: 5px; /*Радиус скругления углов у таблицы*/
  color: #666666; /*Цвет текста в таблице*/
  font-family: Arial; /*Семейство шрифтов*/
}
table th,
table td {
  padding: 10px 10px 9px; /*Отступы внутри ячеек*/
  line-height: 18px; /*Межстрочный интервал*/
  text-align: left; /*Выравнивание текста по левому краю*/
}
table th {
  padding-top: 9px; /*Отступы внутри ячеек*/
  font-weight: bold; /*Установка жирного начертания шрифта*/
  vertical-align: middle; /*Выравнивание по вертикали. Текст находится по середине*/
  color: black; /*Черный цвет в ячейках заголовков таблицы*/
}
table td {
  vertical-align: top; /*Выравнивание содержимого ячейки по верхнему краю*/
  border-top: 1px solid #ddd; /*Верхняя граница ячейки*/
}
table th + th,
table td + td,
table th + td {
  border-left: 1px solid #ddd; /*Стиль для левой границы между двумя ячейками*/
}
table thead tr:first-child th:first-child, /*Первая строка первая ячейка в заголовке таблицы*/
  table tbody tr:first-child td:first-child /*Первая строка первая ячейка в теле таблицы*/ {
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}
table thead tr:first-child th:last-child, /*Первая строка последняя ячейка в заголовке таблицы*/
  table tbody tr:first-child td:last-child /*Первая строка последняя ячейка в теле таблицы*/ {
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}
table tbody tr:last-child td:first-child  /*Последняя строка первая ячейка в теле таблицы*/ {
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}
table tbody tr:last-child td:last-child  /*Последняя строка последняя ячейка в теле таблицы*/ {
  -webkit-border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
}
table tr:hover {
  background-color: #f2f2f2; /*Цвет строки при наведении курсора мыши*/
}
table tr:active {
  color: aliceblue;
  background-color: #505050; /*Цвет строки при клике мышкой*/
}
.table-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.table-image {
  width: 100%;
  height: 100%;
}
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fed;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hide {
  display: none;
}
.table-body {
  display: none;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
.modal-image {
  width: 50%;
  height: 50%;
  margin-bottom: 30px;
}
.display {
  display: none;
}